* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    text-transform: capitalize;
    z-index: 0;
}

:root {
    --color-primero: rgb(140, 195, 247);
    --color_segundo: rgb(130, 241, 149);
    --color-tercero: rgb(238, 231, 134);
}

body {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: whitesmoke
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px 0;
}

.menu>li {
    position: relative;
    display: inline-block;
    width: 200px;
}

.menu>li>a {
    display: block;
    padding: 15px 15px;
    color: rgb(39, 30, 24);
    text-decoration: none;
    padding-left: 90px;
}

.menu li a:hover {
    color: rgb(87, 226, 32);
    transition: all .3s;
}


#bloque {
    width: 93%;
    margin: 10px auto;
    background-color: rgb(214, 215, 238);
    background-position: center;
    border-radius: 30px;
    margin-bottom: 35px;
}

header {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#baner {
    width: 80%;
    height: 500px;
}

nav li {
    display: inline-flex;
}

.color1 {
    background-color: var(--color-primero);
    border-radius: 30px;
}

.color2 {
    background-color: var(--color_segundo);
    border-radius: 30px;
}

.color3 {
    background-color: var(--color-tercero);
    border-radius: 30px;
}

.submenu {
    position: absolute;
    background-color: rgb(153, 133, 209);
    width: 110%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: rgb(155, 224, 190);
    text-decoration: none;
}

nav li:hover .submenu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

main {
    width: 100%;
    padding: auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

.celulares img {
    height: 300px;
    width: 300px;
}

img {
    border-radius: 20px;
    cursor: pointer;
}

figure {
    text-align: center;
    border: 5px solid black;
    border-radius: 50px;
    width: 370px;
    padding-top: 15px;
    padding-bottom: 8px;
    background-color: white;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
}

button {
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
    padding: 3px;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
    font-style: oblique;
}


.social {
    display: inline-block;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;

}

.celulares {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}


.foter {
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
    padding: 10px;
    border-radius: 30px;
}

.foter h4 {
    font-size: 20px;
    color: red;
    margin-bottom: 20px;
    border-bottom: 2px solid #e24545;
}

.links {
    width: 20%;
    padding: 0 15px;

}

.links h4 {
    font-size: 20px;
    color: red;
    margin-bottom: 20px;
    border-bottom: 2px solid #e24545;
    padding-bottom: 10px;
    display: inline-block;
}

.links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: blue;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.links ul li a:hover {
    color: rgb(45, 154, 248);
    padding-left: 5px;
}
