:root {
   --color-principal: rgb(247, 248, 176);
   --color-secundario:

}

* {
   margin: 20px;
   background-color: var(--color-principal)
}

body {
   background-color: rgb(233, 228, 162);
}

.seccion1 img {
   width: 100%;

}

img {
   width: 200px;
}

.columnas_6 {
   width: 10%;
   display: flex;
   justify-items: center;
}
