:root {
    --color-fondo: rgb(240, 209, 209);
}

* {
    background-color: var(--color-fondo);
}

section {
    display: inline-block;
    margin-top: 35px;
    color: rgb(217, 0, 255);
    text-decoration: none;
    padding: 15px 35px;
    background-color: rgb(220, 243, 238);
}