body {
    background: #ffffff;
}

.logo-header img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.section-search {
  text-align: center;
  background: #120847;
  padding: 20px;
}
.header {
  text-align: center;
  background: #000000; 
  color: rgb(100, 76, 223);
  padding: 20px;
}

