*{margin: 0px}
body{
    background-color: cadetblue;
}
.seccion1 img{width: 100%
    ;
}
*{margin: 20px;}
img{width: 200px;}
.columnas_4{
    width: 10%;
    display: flex;
    justify-items: center;
}
:root{
    --color-principal: cadetblue;
    --color-secundario: blue

}
*{background-color:var(white)}

a{
    color:rgb(20, 50, 220)
}
a:hover{
    color: rgb(143, 4, 4);
}
