/*------------------------------------ Cinco HTML */
body{
  background-color:burlywood;
  margin: 0;
}

/*---------------------------------------Cinco Class*/

.imagen-centrada{
  width: 1350px;
  display: block;
  margin: 0 auto;
}
/*---------------------------------------Cinco id*/
/*---------------------------------------Cuatro atributos avanzados*/
/*---------------------------------------Cuatro Conbinadores*/