*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-----------------------------------------------------Cuatro HTML */
body{
  background-color:rgba(222, 184, 135, 0.819);
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

blockquote{
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  height: 59px;
}
/*------------------------------------------------------Cuatro Conbinadores */

.menu a{
  text-decoration: none;
  color: #4a5568;
  font-size: 20px;
  font-weight: 700px;
  transition: color 0.3s ease;
}
#contacto h2{
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-color: #4a5568;
  margin: 5px;
  border-radius: 50px;
}
/*------------------------------------------------------Cuatro Class*/
.logo{
  height: 130px;
  width: auto;
  display: block;
  margin-left: 40px;
}
.section-menu-container{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu{
  display: flex;
  list-style: none;
  gap: 30px;
}
.subtitulo{
  background-color: rgba(230, 233, 235, 0.856);
  margin: 15px;
  height: 90px;
}
/*------------------------------------------------------Cuatro Pseudo clases*/
.menu a:hover{
  color: blue;
}
/*------------------------------------------------------Cuatro id*/
#baner{
  width: 100%;
  height: 400px;
  height: auto;
  display: block;
}
#contacto{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 0px;
  background-color: gray;
  color: white;
  text-align: center;
  margin: 5px;
  margin: 0%;
}
/*------------------------------------------------------Cuatro Pseudo  Elementos*/
/*------------------------------------------------------Cuatro atributos avanzados*/
/*------------------------------------------------------Cuatro Combinadores logico modernos*/