/*ETIQUETAS*/

/* 1. RESET Y BODY*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif; /* Fuente general de la página */
    background-color: #f5f5f5; /* Fondo gris claro */
    padding: 30px; /* Espacio alrededor del contenido */
    line-height: 1.5; /* Altura base de línea */
}

/* 2. HEADER*/
header {
    background-color: black;
    color: white;
    padding: 30px; /*Tamaño del header*/
    text-align: center;
}

header button {
    background-color: #333333;
    color: white;
    padding: 10px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor a una manito al pasar sobre el botón */
    border: none; /* Elimina el borde gris que viene por defecto*/
    width: 98.5%;
}

header input {
    color: #333333;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    resize: none;
}

/* 3. MAIN Y SECCIONES*/
main {
    padding: 15px;

}

section {
    padding: 20px; /* Espacio interno de cada sección */
}

article {
    border: 5px solid #ddd; /* Borde para cada artículo */
    padding: 15px; /* Espacio interno del artículo */
    margin-bottom: 20px;
    border-radius: 8px;
}

img {
    max-width: 100%;
    height: auto;
}

/* 4. FORMULARIO*/

fieldset {
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
}

fieldset form {
    margin: 15px;
    border-radius: 15px;
    background-color: white; 
    border: none;
}

form legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
}

form fieldset input, form fieldset select, form fieldset textarea {
    color: #333333;
    margin: 15px;
    padding: 5px;
    width: 98.5%;
    border: 1px solid #333333;
    border-radius: 5px; /* Bordes redondeados para inputs */
    resize: none;
}

form button {
    background-color: #333333;
    color: white;
    padding: 10px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor a una manito al pasar sobre el botón */
    border: none; /* Elimina el borde gris que viene por defecto*/
    width: 100%;
}

/* 5. FOOTER*/
footer {
    background-color: #333333;
    padding: 25px; /*eliminrar??*/
    text-align: center;
    color: white;
    border-top: 5px solid #C5A059; /* Línea decorativa en el footer */
}

footer a {
    display: block;
}

/* 6. ENLACES*/
a {
    text-decoration: none;
    color: whitesmoke;
    padding:15px;
    font-weight: 500;
}

a:hover {
    color: #C5A059;
}

