* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    line-height: 1.5;
    color: #333333;
}

header, main, footer {
    padding: 30px;
}

/* 2. HEADER */
header {
    background: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header img {
    width: 50px;
    display: block;
    margin-right: 20px;
    margin-top: 25px;
}

header form {
    display: flex;
    align-items: center;
}

header form input {
    width: 650px;
    height: 36px;
    margin: 0;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

header form button {
    width: 70px;
    height: 36px;
    margin: 0;
    padding: 0;
    background: #333;
    color: white;
    border-radius: 0 5px 5px 0;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    white-space: nowrap;
    hyphens: none;
}

/* 3. MAIN Y SECCIONES */
header h1, header h2, header h3 {
    color: white;
    font-weight: bold;
}

article header {
    background-color: #333333;
}

article {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

mark {
    background-color: #C5A059;
    color: white;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 2px;
}

/* 4. FORMULARIO */
fieldset {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

form legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input,
form select,
form textarea {
    color: #333333;
    margin-top: 5px;
    padding: 8px;
    width: 100%;
    border: 1px solid #333333;
    border-radius: 5px;
}

form button {
    background-color: #333333;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 100%;
    margin-top: 15px;
}

/* 5. FOOTER */
footer {
    background-color: #333333;
    padding: 20px;
    text-align: center;
    color: white;
    border-top: 5px solid #C5A059;
}

footer button {
    background: white;
    color: black;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

footer a {
    color: white;
    display: block;
    margin: 5px;
}

footer a:hover {
    color: #C5A059;
}

/* 6. ENLACES GENERALES */
a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px;
}

a:hover {
    color: #C5A059;
}

ul {
    list-style: none;
}

p {
    color: white;
}

/* CLASES */

.col-3 p, strong {
    color: black;
}

.col-3 summary{
    text-align: center;
}
